<header class="top-bar">
	<div class="mobile-nav show-for-small-only">
		<div class="hamburger">
			<div class="hamburger-box">
				<div class="hamburger-inner">
				</div>
			</div>
		</div>
		<ul class="menu">
			{% assign navigation_pages = site.html_pages | where:"lang", page.lang | sort: 'navigation_weight' %}
			{% for post in navigation_pages %}
				{% if post.navigation_weight %}
					<li>
						<a href="{{ post.url }}" {% if post.url == page.url %}class="active"{% endif %}>
							{{ post.title }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
    <ul class="menu show-for-medium">
        {% assign navigation_pages = site.html_pages | where:"lang", page.lang | sort: 'navigation_weight' %}
		{% for post in navigation_pages %}
			{% if post.navigation_weight %}
				<li>
					<a href="{{ post.url }}" {% if post.url == page.url %}class="active"{% endif %}>
						{{ post.title }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
		<li>
			<a href="https://www.icloud.com/sharedalbum/#B0X5yeZFhGtt1VD" target="_blank" rel="noopener noreferrer">
				Photos
			</a>
		</li>
    </ul>
    <ul class="lang menu">
		{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
		{% for post in pages reversed %}
			<li>
				<a href="{{ post.url }}" {% if post.lang == page.lang %}class="active"{% endif %}>{{ post.lang }}</a>
			</li>
		{% endfor %}
	</ul>
</header>
