input[type="text"], input[type="number"], input[type="textarea"] {
	width: 100%;
}
a.button {
	background-color: $iris;
	color: $yellow;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: color 0.25s, background-color 0.25s;
	&:hover, &:focus {
		background-color: lighten($iris, 15%);
		color: $yellow;
	}
}