.gallery-wrapper {
	width: 35em;
	text-align: center;
	padding: 1em 0 4em 0;
}
.gallery-best-image{
	max-height: 20em;
	max-width: 20em;
}
.gallery-image-wrapper {
	height: 300px;
	width: 300px;
	display: inline-block;
	margin: 1em;
	position: relative;
}
.gallery-image {
	margin: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	max-height: 100%;
	max-width: 100%;
}