header.top-bar {
    position: fixed;
    width: 100%;
    z-index: 1;
	background-color: rgba(0, 0, 0, 0.6);
	ul {
		background-color: transparent;
	}
	a {
		font-weight: bold;
		color: #CCC;
		&.active, &:hover, &:focus {
			color: #FFF;
		}
	}
}