.home.canvas {
	position: absolute;
	right: 0;
	bottom: 0;
	left:0;
	top: 0;
	background-image: url(/img/hero-swing.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 150px 1px #000;
    .banner {
        position: absolute;
		bottom: 0;
		transform: translateY(-5%);
	    width:100%;
	    color: #FFF;
	    text-shadow: 0 0 2px $iris;
	    @media screen and (max-width: 25.5em) {
		    bottom: 20%
	    }
	    @media screen and (max-width: 20em) {
		    bottom: 10%;
	    }
	    h1 {
			font-size: 4rem;
			margin-bottom: 0;
			line-height: 1.1;
			@media screen and (max-width: 39.9375em) {
				font-size: 3rem;
			}
			&.cursive {
				font-family: 'League Script', cursive;
				-webkit-text-stroke-color: #FFF;
			    -webkit-text-stroke-width: 0.1rem;
			    @media screen and (max-width: 39.9375em) {
					font-size: 4rem;
				}
			}
			@media screen and (min-width: 40em) {
			    font-size: 5rem;
			}
			@media screen and (min-width: 64em) {
				font-size: 6rem;
			}
		}
		h2 {
			margin-bottom: 0;
			line-height: 1.1;
		}
		.ampersand {
			margin-bottom: 0.5em;
		}
		.subhead {
			margin-top: 0.5em;
		}
    }
}