.home.canvas {
	position: absolute;
	right: 0;
	bottom: 0;
	left:0;
	top: 0;
	background-image: url(/img/hero-swing.jpeg);
    background-size: cover;
    background-position: center;
    .banner {
        position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    width:100%;
	    color: #FFF;
	    h1 {
			font-size: 4rem;
			&.cursive {
				font-family: 'League Script', cursive;
			    font-weight: bold;
			    @media screen and (min-width: 40em) {
			    font-size: 5rem;
				}
				@media screen and (min-width: 64em) {
					font-size: 6rem;
				}
			}
		}
		h2 {
			
		}
    }
}