---
layout: page
title: Gallery
lang: en
ref: gallery
---

<script src="/js/lightbox-plus-jquery.min.js"></script>
<link href="/css/lightbox.min.css" rel="stylesheet" />

<h2><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h2>
<hr />
{% for image in page.images %}
    <div class="gallery-image-wrapper">
        <a name="{{ image.name }}"></a>
        <a href="{{ image.name }}" data-lightbox="{{ page.title }}" title="{{ image.name }}">
            <img class="gallery-image" src="thumbs/{{ image.name }}" />
        </a>
    </div>
{% endfor %}